override: true
push:     true
test:
  script: test-cmssw.sh
  node:   singularity
delete_pattern: tmp-${group1}.*-(2[0-9]{7,})
expires_days: 7
daily: d$${now.strftime("%Y%m%d")}
architecture: ${group1}
groups:
  bootstrap:
    disabled: true
    docker: Dockerfile.${group0}
    from: ${container}:${group1}
    variables:
      SKIP_TESTS: true
    groups:
      x86_64:
        tags:
          ${group1}-${group0}:
      aarch64:
        tags:
          ${group1}-${group0}:
      ppc64le:
        disabled: true
        tags:
          ${group1}-${group0}:
  latest:
    alias: ${group1}-${daily}
    from: cmssw/cc7:${group1}-d20240110
    groups:
      x86_64:
        variables:
          EXTRA_PACKAGES: doxygen compat-libstdc++-33 mesa-dri-drivers apptainer
        tags:
          ${group1}:
      aarch64:
        variables:
          EXTRA_PACKAGES: singularity
        tags:
          ${group1}:
      ppc64le:
        disabled: true
        variables:
          EXTRA_PACKAGES: apptainer
        tags:
          ${group1}:
